html, body, #wrapper {
	color: #333;
	height: 98%;
}

body {
	margin: 0px;
	padding: 0px;
	background: url(../images/bg-body.gif) top no-repeat;
}

body, p, ol, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

#headerWrapper {
	background: #ecf3f9;
	width: 100%;
	height: 191px;
	position: relative; 
}

#wrapper {
	height: auto;
}

div #login_menu {
	display: block;
	text-align: right;
	font-size: 23px;
}

div#content #divFormularioLogin {
	width: 222px;
	margin: 0 auto;
	padding-top: 20px; 
}

div#content {
	display: block;
}

div#menuOptions {
	width: 440px;
	height: 17px;
	margin: 0 auto;
	z-index: 99;
}

div ul li {
	float: left;
	padding-right: 30px;
	display: compact;
}

th.telefoneTamanhoMinimo {
	min-width: 102px;
}

.contentCenter {
	text-align: center;
}

th.iconCell {
	max-width: 10px;
}

div.field {
  margin-bottom: 10px;
}

div.field input[type="text"] {
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  width: 210px;
  height: 35px;
  font-size: 15px;
  background: silver;
}

div.field input[type="password"] {
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  width: 210px;
  height: 35px;
  font-size: 15px;
  background: silver;
}

button.deleteButton {
	background: url(../images/delete-icon.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 0;
	text-indent: -9999px;
}

a.editButton {
	background: url(../images/edit-icon.png) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 0;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 auto;
}

a.editButton:hover {
	background: url(../images/edit-icon.png) no-repeat;
}

a.viewButton {
	background: url(../images/view-icon.png) no-repeat center;
	display: block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 0;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 auto;
}

a.viewButton:hover {
	background: url(../images/view-icon.png) no-repeat center;
}

table.display td {
	padding: 3px 5px !important;
}

<!-- jquery hint use this -->
input.blur {
}

ul {
	font-size: 13px;
	margin: 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }

a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#notice {
  color: green;
}

.showInfos {
	position: absolute;
	width: auto;
	padding-left: 50%;
	padding-top: 30px;
	left: -120px;
}

.showInfos p {
	font-size: 20px;
}

.centerOfFrame {
	padding-top: 40px;
}

<!-- algumas personaliza›es do DataTables -->
.dataTables_info { padding-top: 0; }
.dataTables_paginate { padding-top: 0; }
.css_right { float: right; }
#example_wrapper .fg-toolbar { font-size: 0.8em }
#theme_links span { float: left; padding: 2px 10px; }
table.display thead th.noImage { cursor: default;}
table.display thead th.noImage div span { background-image: none;}